Source: assistant-button
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 13),
               gcc,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/assistant-button
Vcs-Git: https://github.com/furilabs/assistant-button.git

Package: assistant-button
Architecture: any
Depends: ${misc:Depends},
Description: Service managing the assistant button on the FLX1
