[Unit]
Description=Assistant button listener
After=sm.puri.Phosh.service
StartLimitBurst=5000
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/libexec/assistant-button
RestartSec=1
TimeoutStartSec=5
Restart=always
